ul.todo-list {
  list-style-type: none;
  margin-top: 40px;

  li {
    height: 30px;
    width: 75%;

    span.toggle-todo-open,
    span.toggle-todo-done {
      margin-right: 10px;
    }

    span.toggle-todo-open {
      opacity: 0.1;

      &:hover {
        opacity: 1;
        cursor: pointer;
      }
      &:hover + span.todo-text {
        text-decoration: line-through;
        font-style: italic;
      }
    }

    span.toggle-todo-done {
      opacity: 1;

      &:hover {
        opacity: 0.1;
        cursor: pointer;
      }
      &:hover + span.todo-text {
        text-decoration: none;
        font-style: normal;
      }
    }


    span.done {
      text-decoration: line-through;
      font-style: italic;
    }
  }


}
